*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    height: 80px;
    color: rgba(46,243,207,255);
}


.header div{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo{
    height: 100%;
    object-fit: contain;
    margin-right: 10px;
}

header .row{
    padding: 10px 0px;
    background-color: rgb(9,9,53);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.m_10{
    margin: 10px;
}

.field{
    border: solid 1px black;
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    visibility: hidden;
}

.box{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% / 10);
    width: calc(100% / 10);
}